.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
}

.modal__container {
  position: relative;
  margin: auto;
  padding: 0 36px 0;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__close {
  position: absolute;
  /* bottom style is calculating 100% from the bottom and add 5 px */
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 60%;
  cursor: pointer;
}

.modal__heading {
  width: 100%;
  height: 23px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin-top: 34px;
}

.modal__form {
  width: 100%;
  border-bottom: 1px;
  border-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 36.51px;
}

.modal__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  margin: 29.74px 0 0;
  padding: 0;
}

.modal__input:first-of-type {
  color: #000;
}

.modal__input:last-of-type {
  color: #000;
}

.modal__input:invalid {
  border-bottom: 1px solid red;
  margin: 0;
}

.modal__input-error {
  color: red;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

.modal__button {
  width: 100%;
  height: 50.15px;
  background-color: #000;
  border: none;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  border-radius: 2px;
  margin-top: 35px;
  padding: 0;
}

.modal__button:disabled {
  width: 100%;
  height: 50.15px;
  background-color: #fff;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  border-radius: 2px;
  margin-top: 20px;
  padding: 0;
}

.modal__button:hover {
  opacity: 60%;
  cursor: pointer;
}

.modal__preview-container {
  position: relative;
  top: 90px;
  margin: 0 auto 0;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-heading {
  width: 291px;
  height: 12px;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  size: 12px;
  line-height: 14.52px;
}

@media screen and (max-width: 580px) {
  .modal__close {
    bottom: calc(100% + 30px);
    left: calc(100% - 45px);
  }

  .modal__heading {
    width: 238px;
  }

  .modal__form {
    width: 238px;
  }
}

@media screen and (max-width: 425px) {
  .modal__container {
    padding: 0;
    width: 282px;
    height: 322px;
  }

  .modal__heading {
    height: 22px;
    font-size: 18px;
    line-height: 21.78px;
    margin: 25px 22px 0;
  }

  .modal__input {
    margin: 0;
  }

  .modal__input:first-of-type {
    margin: 75px 0 0;
  }

  .modal__input:last-of-type {
    margin: 30px 0 0;
  }
  /*
  .modal__button {
    margin: 45px 0 25px;
  }
  */
}
