.page {
  background-color: black;
  margin: 0;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 880) {
  .page__section {
    max-width: 770px;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .page__section {
    max-width: 425px;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
}
