.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__avatar {
  margin-right: 24px;
  max-width: 120px;
  max-height: 120px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(373px, auto) auto;
}

.profile__name {
  color: white;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  max-width: 540px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__button-edit {
  background: transparent url(../images/pencil.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  border: 1px solid white;
  margin: 15px 2px 9px 18px;
  opacity: 100%;
}

.profile__button-edit:hover {
  opacity: 60%;
}

.profile__bio {
  color: white;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  margin: 0;
  max-width: 540px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__button-add {
  background: transparent url(../images/plus.sign.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 1px solid white;
  border-radius: 2px;
  opacity: 100%;
}

.profile__button-add:hover {
  opacity: 60%;
}

@media screen and (max-width: 880px) {
  .profile {
    max-width: 581px;
  }

  .profile__info {
    grid-template-columns: auto auto;
  }

  .profile__name {
    font-size: 27px;
    max-width: 245px;
  }

  .profile__bio {
    max-width: 240px;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile__avatar {
    padding-bottom: 30px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 282px;
    width: 100%;
    padding-bottom: 36px;
  }

  .profile__name {
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    line-height: 26.63px;
  }

  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin: 4px 0 0 10px;
  }

  .profile__bio {
    width: 100%;
    font-size: 14px;
    line-height: 16.94px;
    display: flex;
    justify-content: center;
    margin-top: 14px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__button-add {
    margin: 0;
    width: 282px;
    height: 50px;
  }
}
